# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/srv98741/nodejsV2"
PassengerBaseURI "/"
PassengerNodejs "/home/srv98741/nodevenv/nodejsV2/22/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
